page-mode-expert {
    .pClass{
        background-color: #ebebeb;
        white-space: pre-line;
        padding: 5px;
        overflow: scroll;
        //height: 100%;
    }
    .frame{
        background-color: #f4f4f4;
    }
}
